<a href="https://colab.research.google.com/github/jOMmY-cyber/mahidol/blob/main/Copy_of_%5BDay_1%5D_3_Python_Loop_Take_Home_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### โจทย์ฝึกปฏิบัติ

## Lab - Q6
จงเขียนโปรแกรมเพื่อแสดงผลลัพธ์ `1 2 3 4 5 6 7 8` โดยใช้ for และ while loop

In [ ]:
#code here
for i in range (8):
  print(i+1,end='')

j = 0
k = 8
while j < k:
  print(j+1,end='')
  j+=1

1234567812345678

## Lab - Q7
จงเขียนโปรแกรมเพื่อแสดงผลลัพธ์ `100 99 98 … 1` โดยใช้ for และ while loop

In [ ]:
#code here
i = 100
n = 0
while i>n:
  print(i," ",end="")
  i -= 1
# for i in range (100,0,-1):
#   print(i)

100  99  98  97  96  95  94  93  92  91  90  89  88  87  86  85  84  83  82  81  80  79  78  77  76  75  74  73  72  71  70  69  68  67  66  65  64  63  62  61  60  59  58  57  56  55  54  53  52  51  50  49  48  47  46  45  44  43  42  41  40  39  38  37  36  35  34  33  32  31  30  29  28  27  26  25  24  23  22  21  20  19  18  17  16  15  14  13  12  11  10  9  8  7  6  5  4  3  2  1

## Lab - Q8

จงเขียนโปรแกรมโดยใช้ **for loop** เพื่อแสดง และนับจำนวนตัวเลขใน range `[x,y]` ที่สามารถหารด้วย `d` ลงตัว โปรแกรมนี้รับ 3 input ดังนี้
* `x` ตัวเลขเริ่มต้นของ range
* `y` ตัวเลขสุดท้ายของ range (รวม`y`ด้วย)
* `d` ตัวหาร

**หมายเหตุ:**
* นักศึกษาสามารถสมมติได้ว่าผู้ใช้จะ input ตัวเลขจำนวนเต็มเท่านั้น `d` ไม่เท่ากับ 0 และ input `y` ต้องมากกว่า `x`

<hr>

**ตัวอย่างที่ 1:**
**Input:** `x=5`, `y=21`, และ `d=3`
```
5
21
3
```
**Expected output:** หลังจากโปรแกรมรับค่า `x`, `y` และ `d` แล้ว โปรแกรมจะแสดงตัวเลขใน range [5, 21] ที่ 3 หารลงตัว ซึ่งมีจำนวนทั้งหมด 6 จำนวน ดังต่อไปนี้
```
6 9 12 15 18 21 count=6
```
<hr>

**ตัวอย่างที่ 2:**
**Input:** `x=-10`, `y=10`, และ `d=4`
```
-10
10
4
```
**Expected output:** หลังจากโปรแกรมรับค่า `x`, `y` และ `d` แล้ว โปรแกรมจะแสดงตัวเลขใน range [-10, 10] ที่ 4 หารลงตัว ซึ่งมีจำนวนทั้งหมด 5 จำนวน ดังต่อไปนี้
```
-8 -4 0 4 8 count=5
```
<hr>

**ตัวอย่างที่ 3:**
**Input:** `x=-5`, `y=5`, และ `d=-1`
```
-5
5
-1
```
**Expected output:** หลังจากโปรแกรมรับค่า `x`, `y` และ `d` แล้ว โปรแกรมจะแสดงตัวเลขใน range [-5, 5] ที่ -1 หารลงตัว ซึ่งมีจำนวนทั้งหมด 11 จำนวน ดังต่อไปนี้
```
-5 -4 -3 -2 -1 0 1 2 3 4 5 count=11
```
<hr>

In [ ]:
count = 0
x = int(input())
y = int(input())
d = int(input())
while True:
  if x > y:
    print("Error")
    break
  if d == 0:
    print("Error")
    break
  for i in range(x,y):
    if i%d == 0:
      count += 1
      print(i,'',end="")
  if y%d == 0:
    count += 1
    print(y)
  break
print('count =',count)

-5
5
1
-5 -4 -3 -2 -1 0 1 2 3 4 5
count = 11